---
layout: 2020/default
section: propuestas
title: Propuestas recibidas para esLibre 2020
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Propuestas recibidas para es<span class="red">Libre</span> 2020</strong></h1>
  </div>
</div>
<hr class="my-4">

<p>
  En esta edición de <strong>es<span class="red">Libre</span></strong> las propuestas recibidas se han dividido en las siguientes
  categorías:
  <ul>
    <li><a href="charlas/">Charlas</a></li>
    <li><a href="talleres/">Talleres</a></li>
    <li><a href="otras/">Otras</a></li>
  </ul>
</p>

<p>
  Por otro lado, también hemos recibido de la comunidad las siguientes <strong>propuestas de sala</strong>:
  <ul id="list">
    {% for devroom in site.pages %}
    {% if devroom.path contains '2020/salas' and devroom.path contains '.md' and devroom.category == 'devrooms' %}
    <li><a href="/{{ devroom.path | remove_first: ".md" }}">{{ devroom.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>

</p>
